.brand-img {
    height: 200px !important;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(191, 191, 191, 0.1) !important;
      img {
        width: auto !important;
        max-height: 200px;
      }
    }
  }
.owl-carousel{
    position: relative;
    background-color: transparent;
    &:last-of-type{
      margin-bottom: 25px;
    }
    .carousel-item{
      padding: 5px;
    }
    a{
        text-decoration: none;
        .p-container{
        padding: 5px;
        transition: box-shadow .3s ease-in-out;
        line-height: 1.5;
        .brand_name{
            direction: initial;
            color: #000000;
            text-align: center;
            p{
              margin-bottom: 0px;
              font-size: 17px;
              margin-top: 1rem;
            }
          }
          &:hover{
            box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
          }
      }
    }
    .owl-dots{display: none;}
    .owl-nav button{
      outline: 0px dotted !important;
      position: absolute;
      border-width: 0px !important;
      top: 45%;
      i{
        border-width: 0px !important;
        display: inline-block;
        border-radius: 60px;
        box-shadow: 0px 0px 2px #888;
        padding: 0.5em 0.8em;
        color: black;
      }
      &.owl-prev{
        right: 10px;
        top: -32px;
      }
      &.owl-next{
        right: 45px;
        top: -32px;
      }
      @media (max-width: 768px){
        &.owl-prev{
          right: -6px;
        }
        &.owl-next{
          right: 30px;
        }
      }
    }
  }